<div class="jumbotron">
  <div class="container-fluid">
    <h1>Bánh Mì Juice & Sandwich</h1>

    <h2>
      Enjoy excellent Vietnamese food
    </h2>
  </div>
</div>

<!--
<%= link_to image_tag("UH_Logo_100.png", alt: "UH logo"),
            'http://www.uh.edu/' %>
  -->