<% provide(:title, "Help") %>
<h1>Menu</h1>
<p>
	<p><li>Sign up to be able to see and volunteer for various projects on-campus and in the community. Once you sign up, you can create your own projects to solicit volunteers.</li></p>
	<p><li>Once you have signed up, you will be taken to your personal User Dashboard. The Dashboard is your control center for the UH volunteer system. Your Dashboard lists (a) all volunteer project signup lists that you have created, (b) all projects that you have volunteered for, and (c) all UH volunteer opportunities. Just click on a project to get details, see who's signed up, and volunteer if you are interested.</li></p>
	<p><li>When you are logged in, clicking "Home" on the navigation bar at the top of any page will return you to your User Dashboard.</li></p>
	
	
</p>